  ipython
  matplotlib
  pandas
  tensorflow
  scikit-learn
  numpy
  pydot
  graphviz
  keras-vit
  opencv-python
  transformers
  torch
  torchvision
  tf-keras
  datasets
  torchviz
  torchsummary
  torchinfo
  imblearn